body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;

}

.klassen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}